appinst==2.1.5
appnope==0.1.0
apptools==4.3.0
atom==0.3.9
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.1
boto==2.43.0
boto3==1.4.1
botocore==1.4.76
Canopy==1.5.5
CanopyDataImport-addon==0.0.1
CanopyDebugger==0.1.2.dev0
CanopyDebugger-addon==0.1.2.dev0
casuarius==1.1
certifi==2015.11.20.1
chaco==4.5.0
click==6.6
codetools==4.2.0
configobj==5.0.6
coverage==3.7.1
cvxopt==1.1.8
cycler==0.9.0
Cython==0.25.1
decorator==4.0.2
distribute-remove==1.0.0
Django==1.10.3
docutils==0.12
enable==4.5.1
enaml==0.9.8
enclosure==0.2
encore==0.6.0
enstaller==4.8.9
envisage==4.4.0
esky==0.9.8
Examples==7.3
faulthandler==2.4
feedparser==5.2.0
flake8==2.4.1
Flask==0.11.1
Flask-SQLAlchemy==2.1
freetype==2.5.3
futures==3.0.3
grits-client==0.1
h5py==2.6.0
idle==2.7.3
imbalanced-learn==0.2.1
ipykernel==4.1.0
ipython==4.0.0
ipython-genutils==0.1.0
ipython4==4.0.0
ipywidgets==4.0.3
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
jsonpickle==0.4.0
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.0.0
jupyter-console==4.0.2
jupyter-core==4.0.6
Keras==1.1.1
kernmagic==0.2.0
keyring==4.0
kiwisolver==0.1.3
libjpeg==7.0
libopenjpeg==2.1.0
libpng==1.6.12
libsodium==1.0.3
libxml2==2.9.2
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.3
memory-profiler==0.33
mistune==0.7.1
MKL==11.1.4
mock==1.0.1
mysql-connector-python==2.2.1
MySQL-python==1.2.5
nbconvert==4.0.0
nbformat==4.0.0
nltk==3.2
nose==1.3.4
notebook==4.0.5
numpy==1.11.3
pandas==0.17.1
path.py==8.1.1
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
PIL-remove==1.0.0
pillow==2.9.1
plotly==1.8.12
ply==3.6
psutil==3.2.1
ptyprocess==0.4
pycrypto==2.6.1
pyface==4.5.0
pyflakes==1.0.0
pyglet==1.1.4
Pygments==2.0.2
pyparsing==2.0.3
PySide==1.2.2
python-dateutil==2.4.2
PythonDoc==2.7.3
pytz==2015.7
PyYAML==3.11
pyzmq==14.7.0
Qt==4.8.7
qtconsole==4.0.1
readline==6.2.1
requests==2.8.1
s3transfer==0.1.9
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.0
shiboken==1.2.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
SQLAlchemy==1.1.4
ssl-match-hostname==3.4.0.2
supplement==0.5.dev0
sympy==0.7.6.1
terminado==0.5
Theano==0.8.2
tornado==4.3
traitlets==4.0.0
traits==4.5.0
traits-enaml==0.2.1
traitsui==4.5.1
virtualenv==15.0.2
Werkzeug==0.11.11
wxPython==3.0.2.0
zeromq==4.1.3
