<html>
  <head>
    <title>Flask Intro - login page a</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
 <body>
    <div class="container" style="text-align: center">
      <h1>Testing Phase</h1>
      <h4>
      <p>
        The next 30 <b>testing</b> questions will assess your knowledge. Again, you will be asked to select which of two images is most similar to a third. However, <b>there is no correct/incorrect feedback</b>. An example is shown below. 
      </p>
      <img src="../static/instructions_triplet/test.png" style="width:600px" border="1">
    </h4>

      <h2>Click to continue. </h2>
      <form action="" method="post">
        <input class="button" name='cont' type="submit" value="Continue">
      </form>
    </div>
  </body>
</html>
