<html>
<head>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

  function processRequest(data) {
        if(data.length == 2){
          window.location.href = data[0]
        }
        else{
        $("#main_img").attr("src", data[0])
        $("#compare1").attr("src", data[1])
        $("#compare2").attr("src", data[2])
        }
      }
  $(document).ready(function() {
    $.get( "/get_imgs", function(data) {
      processRequest(data)
    });
    $("#compare1").click(function() {
      $.post( "/kernel/get_response", "0", function(data) {
        processRequest(data)
      });
    });
    $("#compare2").click(function() {
      $.post( "/kernel/get_response", "1", function(data) {
        processRequest(data)
      });
    });
  });
</script>
</head>
<body>
  <div style="text-align: center">
    <h1>Target Image</h1>
    <img id="main_img" height="250" width="250" />
  </div>
  <br />
  <div style="text-align: center">
    <h3>Please click on the image below that looks most similar to the one above: </h3>
    <input type="image" id="compare1" width="250" />
    <input type="image" id="compare2" width="250" />
  </div>

</body>

</html>