<html>
  <head>
    <title>Flask Intro - login page a</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
 
<style>
* {
 font-family: Helvetica; 
}
</style>

  <body>
    <div class="container" style="text-align: center">
      <h1>Identifying Seabed Animals</h1>
      <img src="../static/instructions.png" style="width:800px;height:500px;">
      <h1>Click continue to begin your task. </h1>
      <form action="" method="post">
        <input class="btn btn-default" name='cont' type="submit" value="Continue">
      </form>
    </div>
  </body>
</html>
