<html>
<head>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

  processed = false;

  function processRequest(data) {
        if(data.length == 2){
          window.location.href = data[0]
        }
        else{
        $("#main_img").attr("src", data[0])
        $("#compare1").attr("src", data[1])
        $("#compare2").attr("src", data[2])
        document.getElementById("insert").innerHTML = data[3]; 
        document.getElementById("main_label").style.display = "none";
        document.getElementById("c1_label").style.display = "none";
        document.getElementById("c2_label").style.display = "none";
        document.getElementById("result_img").style.display = "none";
        $("#cont").prop("disabled", true);
        processed = false;
        }
      }

  function processResponse(data) {
        if(!processed) {
          $("#compare1").attr("onclick", "return false")
          $("#compare2").attr("onclick", "return false")
          document.getElementById("main_label").innerHTML = data[0]; 
          document.getElementById("c1_label").innerHTML = data[1]; 
          document.getElementById("c2_label").innerHTML = data[2]; 
          $("#result_img").attr("src", data[3])
          document.getElementById("main_label").style.display = "initial";
          document.getElementById("c1_label").style.display = "initial";
          document.getElementById("c2_label").style.display = "initial";
          document.getElementById("result_img").style.display = "initial";
          $("#cont").prop("disabled", false);
          processed = true;
        }
      }   
  $(document).ready(function() {
    document.getElementById("insert").innerHTML = '0'; 
    $.get( "/get_imgs", function(data) {
      processRequest(data)
    });
    $("#compare1").click(function() {
      $.post( "/kernel/get_response", "0", function(data) {
        processResponse(data)
      });
    });
    $("#compare2").click(function() {
      $.post( "/kernel/get_response", "1", function(data) {
        processResponse(data)
      });
    });
    $("#cont").click(function() {
      $.post( "/get_imgs", function(data) {
        processRequest(data)
      });
    });
  });
</script>
</head>

<style>
.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 120px;
}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}
</style>

<body>
  <div style="text-align: right">
  <h4> <b id="insert"></b> of 50 </h4>
  </div>

  <div style="text-align: center">
    <h1>Target Image</h1>
    <img id="result_img" height="100" width="100" />
    <figure class="item">  
      <img id="main_img" height="250" width="250" />
      <figcaption class="caption" id="main_label"> </figcaption>
    </figure>
  </div>
  <div style="text-align: center">
    <h3>Please click on the image below that looks most similar to the one above: </h3>
    <figure class="item">
      <input type="image" id="compare1" width="250" />
      <figcaption class="caption" id="c1_label"> </figcaption>
    </figure>
    <figure class="item">
      <input type="image" id="compare2" width="250" />
      <figcaption class="caption" id="c2_label"> </figcaption>
    </figure>
  </div>

  <input class="btn btn-default" id='cont' name='cont' type="submit" value="Continue"> 

</body>

</html>
