<html>
<head>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

  
  function processRequest(data) {
        if(data.length == 2){
          window.location.href = data[0]
        }
        else{
        alert(data[0])
        $("#main_img").attr("src", data[0])
        // document.getElementById("insert").innerHTML = data[1]; 
        }
      }
  
  function validate() {
    var x = document.forms["form"]["class"].value;
    alert(x); 
    if (x == "") {
        alert("not selected");
        return false;
    }
  }

  function enable(){
    $(":submit").removeAttr("disabled");
  }


  $(document).ready(function() {
    document.getElementById("insert").innerHTML = '0';

    // $('#register').click(function() {
    //   if (!$("input[name='class']:checked").val()) {
    //     alert('Nothing is checked!');
    //     return false;}
        
    //   else {
    //     alert('One of the radio buttons is checked!');}
    //   });


    $.get( "/get_test_img", function(data) {
      alert(data)
      processRequest(data)
    });

    $("#register").click(function() {
      $.post( "/testing/get_response", document.forms["form"]["class"].value, function(data) {
        alert(document.forms["form"]["class"].value)
        processResponse(data)
      });
    });

  });
</script>

</head>
<body>
  <div style="text-align: right">
  <h4> <b id="insert"></b> of 50 </h4>
  </div>

  <div style="text-align: center">
    <h1>Target Image</h1>
    <img id="main_img" height="250" width="250" />
  </div>
  <div style="text-align: center">
    <h2>Please select and submit the option which matches the target image's class. </h2>
  </div>
  <div style="text-align: center">
    <form name='form' >
      <input type="radio" id="radio_button" name="class" value="stem" onclick='return enable()'> stem &nbsp; &nbsp; &nbsp;
      <input type="radio" id="radio_button" name="class" value="mound" onclick='return enable()'> mound &nbsp; &nbsp; &nbsp;
      <input type="radio" id="radio_button" name="class" value="leaf" onclick='return enable()'> leaf <br>
      <br>
      <br>
      <input type="submit" id='register' value="Submit" disabled="disabled">
    </form>
  </div>
  

</body>
