<html>
<head>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  function displayImages(data) {
    $("#main_img").attr("src", "/static/" + data[0])
    $("#compare1").attr("src", "/static/" + data[1])
    $("#compare2").attr("src", "/static/" + data[2])
  }

  $(document).ready(function() {
    $.get("/get_imgs", function(data) {
      displayImages(data)
    });
    $("#compare1").click(function() {
      $.post("/get_response", "0", function(data) {
        displayImages(data)
      });
    });
    $("#compare2").click(function() {
      $.post("/get_response", "1", function(data) {
        displayImages(data)
      });
    });
  });
</script>
</head>
<body>
  <div style="text-align: center">
    <img id="main_img" height="300" width="300" />
  </div>
  <br />
  <div style="text-align: center">
    <img id="compare1" height="300" width="300" /> <img id="compare2"
      height="300" width="300" />
  </div>

</body>

</html>